.product-review-show {
  background-color: #FFF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.product-review-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-review-black-btn {
  text-align: center;
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.product-review-destroy {
  background-color: red;
  text-align: center;
  font-size: 24px;
  color: white;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: darkgray;
  border: 1px solid white;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.comment-box {
  width: 150px;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-btn {
  line-height: 48px;
  background-color: black;
  border: 1px solid black;
  color: #fff;
  min-width: 190px;
  font-size: 15px;
  border-radius: 100px;
  margin-bottom: 2vh;
}